<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="dll"/>
				<dependentAssembly>
				<assemblyIdentity	name="SlimDX"
									publicKeyToken="53d0e4ef1f1579f5"
									culture="neutral" />
				<codeBase	version="4.0.10.43"
							href="dll\SlimDXc_net20x86_Jun2010.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
