<?xml version="1.0"?>
<AppSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RecentUsedFile />
  <AutoFocus>true</AutoFocus>
  <ConfigVersion>105</ConfigVersion>
  <GraphicListColumnWidth>
    <int>34</int>
    <int>127</int>
    <int>28</int>
    <int>120</int>
  </GraphicListColumnWidth>
  <GuideIndex>3</GuideIndex>
  <Height>759</Height>
  <HViewScaleIndex>0</HViewScaleIndex>
  <LastWorkFolder>C:\Users\Kenji\HOME\作業場\開発\@DTXMania\SFリポジトリ\trunk\実行時フォルダ(DTXCreator)\149 Good-bye crisis\</LastWorkFolder>
  <Maximized>false</Maximized>
  <MovieListColumnWidth>
    <int>127</int>
    <int>28</int>
    <int>120</int>
  </MovieListColumnWidth>
  <NoPreviewBGM>true</NoPreviewBGM>
  <PlaySoundOnWAVChipAllocated>true</PlaySoundOnWAVChipAllocated>
  <RecentFilesNum>5</RecentFilesNum>
  <ShowRecentFiles>true</ShowRecentFiles>
  <SoundListColumnWidth>
    <int>80</int>
    <int>28</int>
    <int>90</int>
    <int>40</int>
    <int>60</int>
  </SoundListColumnWidth>
  <SplitterDistance>431</SplitterDistance>
  <ViewerInfo>
    <Path>DTXV.exe</Path>
    <PlayStartFromOption>-N</PlayStartFromOption>
    <PlayStartOption>-N-1</PlayStartOption>
    <PlayStopOption>-S</PlayStopOption>
  </ViewerInfo>
  <Width>870</Width>
  <X>710</X>
  <Y>163</Y>
</AppSetting>