<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DTX2WAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <DTX2WAV.Properties.Settings>
            <setting name="nVol_BGM" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="nVol_SE" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="nVol_Drums" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="nVol_Guitar" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="nVol_Bass" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="nVol_Unknown" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="nVol_Master" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bMonitorSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nAudioFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nOgg_Q" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="nMP3_bps" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="bOverwriteCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </DTX2WAV.Properties.Settings>
    </userSettings>
</configuration>